body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-header{
  font-weight: bold;
  font-size: 30px;
  color: black;
  font-family: 'Oxygen', sans-serif;
}

}
#section{
 font-weight: bold;
 font-family: 'Oxygen', sans-serif;
 font-size: 30px;
}
 


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
h1{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  
}
#section{
 font-weight: bold;
 font-family: 'Oxygen', sans-serif;
 font-size: 30px;
 background-color: gray;
 margin:0px;
 color: black;
 text-align: center;
 

}
p{
  text-align: left;
  font-size: 15px;
}

